				@font-face {
					font-family: 'avante-guard';
					src: url('/v2/laurie-travel/wp-content/uploads/useanyfont/7048Avante-Guard.woff2') format('woff2'),
						url('/v2/laurie-travel/wp-content/uploads/useanyfont/7048Avante-Guard.woff') format('woff');
						font-weight: 400; font-style: normal; font-display: auto;
				}

				.avante-guard{font-family: 'avante-guard' !important;}

				.et_gf_avante-guard{background:none !important;font-family:avante-guard;text-indent:0 !important;font-size:25px;}

		